name: Deployment
on:
  push:
    branches:
      - master
      - dev
    paths:
      - .github/workflows/deployment2.yml
jobs:
  deploy:
    environment: testing
    runs-on: ubuntu-latest
    steps:
      - name: Output information
        run: |        
          echo "The database name is ${{ vars.MONGODB_DB_NAME }}."
          echo "The username is ${{ secrets.MONGODB_USERNAME }}."
          echo "The password is ${{ secrets.MONGODB_PASSWORD }}."