name: Complete Deployment Workflow
on: 
  push
jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v5
      - name: Cache NPM Dependencies
        uses: actions/cache@v5
        id: npm-cache
        with: 
          path: node_modules
          key: ${{ runner.os }}-npm-modules-${{ hashFiles('**/package-lock.json')}}
          restore-keys: |
            ${{ runner.os }}-npm-modules-
            ${{ runner.os }}-npm-
      - name: Install Dependencies
        if: steps.npm-cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Linting Code
        run: npm run lint
  
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v5
      - name: Cache NPM Dependencies
        uses: actions/cache@v5
        id: npm-cache
        with: 
          path: node_modules
          key: ${{ runner.os }}-npm-modules-${{ hashFiles('**/package-lock.json')}}
          restore-keys: |
            ${{ runner.os }}-npm-modules-
            ${{ runner.os }}-npm-
      - name: Install Dependencies
        if: steps.npm-cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Testing Code
        id: npm-test
        run: npm run test
      - name: Upload Test Report
        if: failure() || steps.npm-test.outcome == 'failure'
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: test.json

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v5
      - name: Cache NPM Dependencies
        uses: actions/cache@v5
        id: npm-cache
        with: 
          path: node_modules
          key: ${{ runner.os }}-npm-modules-${{ hashFiles('**/package-lock.json')}}
          restore-keys: |
            ${{ runner.os }}-npm-modules-
            ${{ runner.os }}-npm-
      - name: Install Dependencies
        if: steps.npm-cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Build Code
        run: npm run build
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-files
          path: dist
    
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deployment
        run: echo "Started Deploy step"
      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with: 
          name: build-files
      - name: Display structure of downloaded files
        run: ls -R

  report:
    needs: [linting, deploy]
    runs-on: ubuntu-latest
    if: failure()
    steps:
      - name: Build Report
        run: |
          echo "If you're seeing this message then one of the jobs/steps have failed"