name: Lint, Test, Build & Deploy
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v6
      - name: Cache Dependencies
        uses: actions/cache@v4
        id: cache-npm
        with: 
          path: node-modules
          key: deps-modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            deps-modules-
            deps-
      - name: Install Dependencies
        if: ${{ steps.cache-npm.outputs.cache-hit != true }}
        run: npm ci
      - name: Lint Code
        run: npm run lint
    
  testing:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v6
      - name: Cache Dependencies
        uses: actions/cache@v4
        id: cache-npm
        with: 
          path: node-modules
          key: deps-modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            deps-modules-
            deps-
      - name: Install Dependencies
        if: ${{ steps.cache-npm.outputs.cache-hit != true }}
        run: npm ci
      - name: Test code
        id: test-code
        run: npm test
      - name: Upload Test Report
        if: failure() && steps.test-code.outcome == 'failure'
        uses: actions/upload-artifact@v6
        with: 
          name: test-report
          path: test.json

  build:
    needs: testing
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v6
      - name: Cache Dependencies
        uses: actions/cache@v4
        id: cache-npm
        with: 
          path: node-modules
          key: deps-modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            deps-modules-
            deps-
      - name: Install Dependencies
        if: ${{ steps.cache-npm.outputs.cache-hit != true }}
        run: npm ci
      - name: Build Code
        run: npm run build
      - name: Upload Dist Files
        uses: actions/upload-artifact@v6
        with: 
          name: dist-files
          path: dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v5
        with: 
          name: dist-files
          path: ./dist
      - name: Verify Dist Files
        run: ls
      - name: Deploying
        run: echo "Deploying application ...."

  report:
    needs: [lint, deploy]
    if: failure()
    runs-on: ubuntu-latest
    steps: 
      - name: Download Report
        uses: actions/download-artifact@v5
        with: 
          name: test-report
          path: ./test
      - name: Output Test Results
        run: echo "If you're seeing this message then one of the steps have failed"
      
      