name: Node Project
on: 
  push: 
  workflow_dispatch:
jobs: 
  testing: 
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Node.js 
        uses: actions/setup-node@v6
        with: 
          node-version: 24
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm test
  build: 
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm ci
      - name: Build project
        run: npm run build
  deploy: 
    runs-on: ubuntu-latest
    needs: build
    steps: 
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Deploy application
        run: echo "Deploying application..."
